@font-face {
  font-family: 'Cabin';
  src: local('Cabin'), url("../src/static/Cabin/Cabin-Regular.ttf") format('truetype');
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: "Cabin", sans-serif;
  font-size: 1.2em;
}

a,
a:visited {
  color: white;
  text-decoration: underline;
}

a:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.ui.button {
  font-family: "Cabin", sans-serif;
  font-weight: 600;
}

.ui.avatar.image,
.ui.avatar.image img,
.ui.avatar.image svg,
.ui.avatar.images .image,
.ui.avatar.images img,
.ui.avatar.images svg {
  margin-right: 0.5em;
}

.ui.modal>.actions {
  text-align: center;
}