#header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

#greenGradiant {
    background-image: linear-gradient(#006931, black);
    height: 5em;
    width: 100%;
    top: 0;
    z-index: -10;
    position: absolute;
}

#dropdown {
    border-radius: 1.5em;
    flex: 5;
}

#createRP {
    border-radius: 5em;
    flex: 2;
    background-color: white;
    color: black;
}

#createRP:hover {
    background: black;
    color: #1DD05D;
    transition: all 0.4s ease;
}

.ui.selection.active.dropdown > .menu {
    border-radius: 0em 0em 1.5em 1.5em;
}

#action-bar {
    width: 40em;
    margin: 2em 0em;
    display: flex;
    justify-content: space-between;
}

#action-bar > div {
    margin: 0em 1em; 
}

#footer {
    text-align: center;
    margin: 20px auto;
    padding: 1em 0em;
}

#footer > hr {
    width: 50%;
    margin: 1em auto;
    border-top: 2px solid lightgray;
}

#disableDiv {
    margin: 10px 0px;
    color: red;
}

.centeredMessageDiv {
    text-align: center;
}

#popButton {
    box-shadow: none !important;
    padding: 5px;
}

#footer-links {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

#footer-links button {
    margin: 0 10px;
    display: flex;
}

#footer-links a {
    text-decoration: none;
}

.ui.modal .scrolling.content {
    color: black;
}

ol {
    margin-left: 20px;
}

#generateButton, #loginButton {
    color: #006931;
    background-color: white;
    border: 2px solid #006931;
}

#generateButton:hover, #loginButton:hover {
    transition: all 0.3s ease;
    background-color: #006931;
    color: white;
}

#loadingButtonNotice {
    margin: 0 auto;
}
.ui.modal>.actions {
    padding: 1em;
}

#firstLoginModal {
    color: black;
}

.Toastify__toast-body  {
    font-family: "Cabin", sans-serif;
    color: black;
}

.Toastify__toast.Toastify__toast--default {
    border-radius: 50px;
    min-height: unset;
}

.Toastify__toast-container--top-right.Toastify__toast-container{
    width: auto;
}

.Toastify__close-button--default {
    display: none;
}