#header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

#greenGradiant {
    background-image: linear-gradient(#4c3285, black);
    height: 5em;
    width: 100%;
    top: 0;
    z-index: -10;
    position: absolute;
}

#searchDropdown {
    border-radius: 1.5em;
    flex: 5;
}

.ui.selection.active.dropdown>.menu {
    border-radius: 0em 0em 1.5em 1.5em;
}

#sortDropdown {
    flex: 1;
    border-radius: 1.5em;
}


#createRP:hover {
    background: black;
    color: white;
    transition: all 0.4s ease;
}

@media only screen and (min-width: 1000px) {
    #action-bar {
        width: 50em;
        margin: 2em 0em;
        display: flex;
        justify-content: space-between;
    }

    #createRP {
        border-radius: 5em;
        flex: 2;
        background-color: white;
        color: black;
    }

    #footer-links button {
        margin: 0 10px;
        display: flex;
    }

    #action-bar>div,
    #action-bar>button {
        margin: 0em 0.5em;
    }
}

@media only screen and (min-width: 651px) and (max-width: 999px) {
    #action-bar {
        width: 20em;
        margin: 2em 0em;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .ui.button {
        margin: 0em;
    }

    #createRP {
        border-radius: 5em;
        width: 100%;
        margin-top: 1em;
        flex: 2;
        background-color: white;
        color: black;
    }

    #footer-links button {
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #footer-links button i {
        margin: 0px;
        margin-bottom: 0.5em;
    }

    #action-bar>div,
    #action-bar>button {
        margin: 0.5em 0;
    }

    #action-bar>button {
        height: 100%;
        font-size: 16.8px;
    }
}

@media only screen and (max-width: 650px) {
    #action-bar {
        width: 20em;
        margin: 2em 0em;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .ui.button {
        margin: 0em;
    }

    #createRP {
        border-radius: 5em;
        width: 100%;
        margin-top: 1em;
        flex: 2;
        background-color: white;
        color: black;
    }

    #footer-links button {
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0;
        border: none;
        box-shadow: 0px;
        text-align: center;
    }

    #footer-links button i {
        margin: 0px;
        font-size: initial;
        padding: 1em;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    #footer-links button i::before {
        text-align: center;
    }

    #action-bar>div,
    #action-bar>button {
        margin: 1em 0;
    }

    #action-bar>button {
        height: 100%;
        font-size: 16.8px;
    }
}

@media screen and (max-width: 766px){
    #loginButton {
        margin-bottom: 15px;
    }
}

#footer {
    text-align: center;
    margin: 20px auto;
    padding: 1em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer>hr {
    width: 50%;
    margin: 1em auto;
    border-top: 2px solid lightgray;
}

#disableDiv {
    margin: 10px 0px;
    color: red;
}

.centeredMessageDiv {
    text-align: center;
}

#popButton {
    box-shadow: none !important;
    padding: 5px;
}

#footer-links {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

#footer-links a {
    text-decoration: none;
}

.ui.modal .scrolling.content {
    color: black;
}

ol {
    margin-left: 20px;
}

#generateButton,
#loginButton {
    color: #5e4791;
    background-color: #ffffff;
    border: 2px solid #5e4791;
    font-weight: 600;
}

#generateButton:hover,
#loginButton:hover{
    transition: all 0.3s ease;
    background-color: #5e4791;
    color: white;
    font-weight: 600;
}

#loadingButtonNotice {
    margin: 0 auto;
}

.ui.modal>.actions {
    padding: 1em;
}

#firstLoginModal {
    color: black;
}

.Toastify__toast-body {
    font-family: "Cabin", sans-serif;
    color: black;
}

.Toastify__toast.Toastify__toast--default {
    border-radius: 50px;
    min-height: unset;
}

.Toastify__toast-container--top-right.Toastify__toast-container {
    width: 15em;
}

.Toastify__close-button--default {
    display: none;
}

#generationWidget {
    padding-top: 1em;
}

#logOutSpan {
    color: red;
    text-decoration: underline;
}

#logOutSpan:hover {
    cursor: pointer;
}

#filterSelect {
    z-index: 20;
}

.longModalDescription {
    padding-bottom: 20px;
}

.ui.modal>.content>* {
    color: black;
}

#loginButtonsDiv {
    display: flex;
    flex-direction: column;
}

p>a.blackLink {
    color: black;
}

#spotifyLogoDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    width: 40%;
}

#spotifyLogo {
    height: auto;
    margin-top: 0.5em;
    min-width: 70px;
    max-width: 8em;
}

.ui.page.modals.dimmer.transition.visible.active {
    justify-content: center;
}