#controlBoxDiv {
	display: flex;
	justify-content: space-around;

	border-bottom: 3px solid #4c3285;
	
	padding-bottom: 15px;
	margin: 20px 0px;
}

#controlBoxDiv>#searchAndButtonsDiv {
	flex: 1;
	padding: 15px 10px;
}

#controlButtonsDiv {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-top: 25px;
}

.buttonDark {
	background-image: linear-gradient(to bottom, black, #4c3285);
	padding: 10px;
	border-radius: 1.5em;
	width: 48%;
	text-align: center;
}

.buttonDark:hover {
	color: #cfc4e9;
	cursor: pointer;
}