#controlBoxDiv {
	display: flex;
	justify-content: space-around;
	width: 80%;

	border: double 6px transparent;
	border-radius: 30px;
	background-image: linear-gradient(black, black),
		linear-gradient(to bottom, black, #4c3285);
	background-origin: border-box;
	background-clip: content-box, border-box;
	border-top: 0px;
}

#controlBoxDiv>#searchAndButtonsDiv {
	padding: 50px;
	flex: 1;
}

#controlBoxDiv>#artistsListDiv {
	text-align: right;
	flex: 1;
	padding: 50px;
}

.artistDiv {
	width: 200px;
	color: black;
	border-radius: 50px;
	padding: 10px;
	background-color: white;
	margin-top: 8px;
	margin-right: 0;
}

.artistDiv:hover {
	cursor: grab;
}

#selectedArtistListDiv {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#controlButtonsDiv {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-top: 20px;
}

.buttonDark {
	background-image: linear-gradient(to bottom, black, #4c3285);
	padding: 10px;
	border-radius: 1.5em;
	width: 45%;
	text-align: center;
}

.buttonDark:hover {
	color: #cfc4e9;
	cursor: pointer;
}