#titleHeaderDiv {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: "Cabin", sans-serif;
}

#titleHeaderDiv>h2 {
    font-weight: normal;
    margin-top: 0px;
}

#titleHeaderDiv h1 h2 {
    font-size: 26px;
    font-family: "Cabin", sans-serif;
}